# this work
name: create-release-branch
on:
  workflow_dispatch:

jobs:
  branch:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    steps:
    - uses: actions/checkout@v2
    - uses: oleksiyrudenko/gha-git-credentials@v2.1
      with:
        global: true
        name: 'github $GITHUB_ACTOR'
        email: 'digitaal-techniek@vpro.nl'
        token: '${{ secrets.GITHUB_TOKEN  }}'
    - name: Release branch with Maven
      run: |
         RELEASE_VERSION=`mvn help:evaluate -Dexpression=project.version -q -DforceStdout | sed -r 's/-SNAPSHOT/.0-SNAPSHOT/'`
         echo $GITHUB_REPOSITORY
         mvn --batch-mode -Dproject.scm.developerConnection=https://github.com/$GITHUB_REPOSITORY.git -DreleaseVersion=${RELEASE_VERSION} release:branch


