---
name: build

on:
  push:
    branches: [ main, "REL-*" ]   
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      MAVEN_OPTS: '-Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn'
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: 11
        cache: maven
        server-id: vpro-ossrh
        server-username: SONATYPE_USERNAME
        server-password: SONATYPE_PASSWORD
        gpg-private-key: ${{ secrets.GPG_SECRET_KEY }}
        gpg-passphrase: GPG_SECRET_KEY_PASSPHRASE
    - name: Build with Maven
      run: mvn -U -B -Pdeploy,ossrh deploy --file pom.xml  -Dgpg.skip=false
      env:
        SONATYPE_USERNAME: vpro
        SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
        GPG_SECRET_KEY_PASSPHRASE: ${{ secrets.GPG_SECRET_KEY_PASSPHRASE }}
