---
name: build pull request

# Builds a pull request, basing the artifact name on the branch name on which it is based, so it can be published
# without breaking things, and enabled to build other pull requests depending on the current one.

# For e.g. if you make a pull request based on a branch feature/foobar on the main branch which is 6.1-SNAPSHOT,
# then it will be built and published as 6.1.foobar-SNAPSHOT
on:
  pull_request:
    branches: [main]


concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      MAVEN_ARGS: '--no-transfer-progress'
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 11
          cache: 'maven'
          server-id: central
          server-username: CENTRAL_USERNAME
          server-password: CENTRAL_PASSWORD
          gpg-private-key: ${{ secrets.GPG_SECRET_KEY }}
          gpg-passphrase: GPG_SECRET_KEY_PASSPHRASE
      - name: Build with Maven
        run: |
          mvn -B -Dchangelist=.${GITHUB_HEAD_REF##*/}-SNAPSHOT -Pdeploy,central deploy  -Dgpg.skip=false
        env:
          CENTRAL_USERNAME: ${{ secrets.CENTRAL_USERNAME }}
          CENTRAL_PASSWORD: ${{ secrets.CENTRAL_PASSWORD }}
          GPG_SECRET_KEY_PASSPHRASE: ${{ secrets.GPG_SECRET_KEY_PASSPHRASE }}
      
