name: release
on:
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/heads/REL-')
    steps:
    - uses: actions/checkout@v2
    - name: Create settings.xml
      uses: s4u/maven-settings-action@v1
      with:
        servers: '[{"id": "vpro-ossrh", "username": "vpro", "password": "${{secrets.SONATYPE_PASSWORD}}"}, {"id": "gpg.passphrase", "passphrase": "${{secrets.OSSRH_GPG_SECRET_KEY_PASSWORD }}"}]'
    - name: Import GPG key
      id: import_gpg
      uses: crazy-max/ghaction-import-gpg@v3
      with:
        gpg-private-key: ${{ secrets.OSSRH_GPG_SECRET_KEY }}
        passphrase: ${{ secrets.OSSRH_GPG_SECRET_KEY_PASSWORD }}
    - uses: oleksiyrudenko/gha-git-credentials@v2.1
      with:
        global: true
        name: 'github $GITHUB_ACTOR'
        email: 'digitaal-techniek@vpro.nl'
        token: '${{ secrets.GITHUB_TOKEN  }}'
    - name: Release
      run: mvn -Pdeploy --batch-mode  -Darguments=-DskipTests  release:prepare release:perform


